[submodule "src/FSMlib"]
	path = src/FSMlib
	url = https://github.com/damascenodiego/FSMlib.git
	branch = testing_methods
[submodule "data/automata_wiki"]
	path = data/automata_wiki
	url = https://github.com/damascenodiego/automata_wiki.git
