[submodule "src/FSMlib"]
	path = src/FSMlib
	url = https://github.com/damascenodiego/FSMlib.git
	branch = testing_methods
[submodule "data/automata_wiki"]
	path = data/automata_wiki
	url = https://github.com/damascenodiego/automata_wiki.git
[submodule "src/hybrid-ads"]
	path = src/hybrid-ads
	url = https://gitlab.science.ru.nl/bharat/hybrid-ads.git
[submodule "src/lsharp"]
	path = src/lsharp
	url = https://gitlab.science.ru.nl/sws/lsharp.git
	branch = cttlearn
