<configuration>
 
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} |%msg%n</pattern>
		</encoder>
		<target>
			System.out
		</target>
	</appender>
 
	# File appender
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmssSSS" timeReference="contextBirth"/>
	<appender name="fout" class="ch.qos.logback.core.FileAppender">
		# Name of a log file
		<file>${logdir:-logs}/${logname:-logback}_${logtstamp:-${bySecond}}.log</file>
		<append>false</append>
		<encoder>
			# Pattern of log message for file appender
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %p %logger{0} |%m%n</pattern>
		</encoder>
	</appender>
    
	<logger name="de.learnlib.util.Experiment" level="DEBUG">
		<appender-ref ref="fout" />
		<!-- <appender-ref ref="stdout" /> -->
	</logger>
	<logger name="de.learnlib.util.statistics.SimpleProfiler" level="DEBUG">
		<appender-ref ref="fout" />
	</logger>
	<logger name="de.learnlib.util.statistics.SimpleProfiler" level="DEBUG">
		 <appender-ref ref="fout" />
	</logger>
	<logger name="de.learnlib.util.ExperimentDebug" level="DEBUG">
		 <appender-ref ref="fout" />
	</logger>
	<logger name="nl.ru.icis.Benchmarking" level="DEBUG">
		<appender-ref ref="fout" />
	</logger>
	<logger name="nl.ru.icis.oracle.SouchaCTT" level="DEBUG">
		<appender-ref ref="fout" />
	</logger>
	<logger name="nl.ru.icis.oracle.EQWrapperHypSize" level="DEBUG">
		<appender-ref ref="fout" />
	</logger>
</configuration>